@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

* {
    font-family: 'Shanti', sans-serif;

}

html {
    background-image: url('https://wallpaperaccess.com/full/1077152.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

}


.burger {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(46, 74, 46);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(235, 140, 31);
    border-radius: 5px;
    transition: all 0.5ms;

}

.title {
    color: rgb(235, 140, 31);
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    margin-top: 0;
    padding-top: -10px;
    margin-bottom: 0;
    height: 65px;
}

.navbar-btns {
    margin-top: 2.4rem;
    text-decoration-line: none;
}

.navbar-btns a {
    text-decoration-line: none;
    color: black;
}

.brand-name {
    padding: 20px;
    color: rgb(235, 140, 31);
    font-size: 1.6rem;
}

.moviedetails {
    display: flex;
    flex-direction: row;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    margin-bottom: 2.5rem;

}

.movietd {
    margin-top : 4rem;
    margin-left: 3rem;
    color: rgb(235, 140, 31);
    background-color: rgba(37, 37, 37, 0.61);
    width: 45%;
    padding: 4rem;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(0);
    }
  }

.movie-title {
    font-size: 2rem;
    font-weight: 600;
}

.movie-data {
    margin-top: .6rem;
    font-size: .8rem;
    font-weight: 800;
    color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    text-align: center;
}

.data-piece {
    margin-right: 1rem;
    background-color: rgb(235, 140, 31);
    border-radius: 13px;
    width: 6rem;
    padding: .2rem;
}

.footerdata-piece {
    background-color: rgb(235, 140, 31);
    border-radius: 13px;
    padding: .5rem;
    color: black;
    text-decoration-line: none;
}

.movie-image:hover {
    transform: scale(1.05);
}

.movie-overview {
    font-size: 1rem;
    margin-top: 1rem;
}

.footer {
    padding: 3rem;
    background-color: rgba(37, 37, 37, 0.8);
    margin: 0;
    color: rgb(235, 140, 31);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
    width: 100%;
    
}

.footer-links {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.link-divs ul li{
    list-style-type: none;
    margin-top: -1rem;
    margin-bottom: 2.5rem;
}

.footer-subtitle {
    display: block;
}


.rowimages::-webkit-scrollbar {
    display: none;


}

.movieimage {
    transition: all 0.5s;
}

.movie-image {
    margin-top: 4rem;
    margin-left: 4rem;
    transition: all 0.5s;
    width: 350px;
    height: 528px;
}

.movieimage:hover{
    transform: scale(1.20);
    object-fit: contain;
}

@media screen and (max-width:1000px) {
    body {
        background-image: url('https://wallpaperaccess.com/full/1077152.jpg');
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar-btns {
        display: none;
    }

    .brand-name {
        font-size: 1rem;
        padding-left: 2vw;
    }

    .movie-image {
        margin: auto;
        margin-top: 3rem;
    }
    
    .movietd {
        width: 95vw;
        height: 6rem;

    }

    .moviedetails {
        display: block;
        width: 100vw;
    }

    .footer {
        display: flex;
        flex-direction: column;
        border-radius: 1.2rem;


    }

    .footer-links {
        margin-top: 2rem;

    }
    .link-divs {
        padding: 1rem;
    }
    .movietd {
        margin-top : 4rem;
        margin-left: 3rem;
        color: rgb(235, 140, 31);
        width: 45%;
        padding: 2rem;
    }

    
    .title {
        color: rgb(235, 140, 31);
        font-size: 2rem;
        font-weight: 900;
    }

    
    .moviedetails {
        display: flex;
        flex-direction: column;

    }

    .burger {
        display: inline;
        margin-top: 2.1rem;
        color: rgb(235, 140, 31);
    }

    .rowimages {
        margin-left: 0;
    }


    .intro {
        margin: 0;
    }

    .intro-content {
        margin-left: 50vw;
    }

    .rowimages::-webkit-scrollbar {
        display: none;
    }

    .introbtn {
        margin-bottom: 15px;
        transform: scale(0.9);
    }

    .category-row {
        margin-left: 10vw;
        width: 80vw;
    }
}
    

.navbar-btns button:hover {
    background-color: rgb(119, 155, 119);
    transform: scale(1.09);
}

.intro-fadebottom {
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111,
    );

}

.intro {
    background-color: transparent;
    height: 75vh;
    margin-left: 7vw;

}

.rowimages {
    display: flex;
    flex-direction: row;
}

.intro-content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    padding-top: 10rem;
}

.introbtn {
    border-style: none;
    background-color: rgb(79, 102, 79);
    border-radius: 4px;
    color: rgb(235, 140, 31);
    margin-right: 20px;
    width: 10rem;
    height: 3rem;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s;
}

.introbtn:hover {
    background-color: rgb(56, 53, 53);
    transform: scale(1.07);
}