@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

* {
    font-family: 'Shanti', sans-serif;

}

.body {
    background: linear-gradient(0.25turn, #4f664f, #9198e5);
}

h1 {
    color: #fcd62d;
    font-size: 3rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    margin-top: 0;
    padding-top: -10px;
    margin-bottom: 0;
    height: 65px;
}

.navbar-btns {
    margin-top: 15px;
}

.navbar-btns button {
    margin-right: 15px;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(79, 102, 79);
    width: 100px;
    height: 40px;
    color: rgb(235, 140, 31);
    letter-spacing: 1px;
    transition: all 0.5s;
    overflow: hidden;
}

@media screen and (max-width:600px) {
    .navbar-btns button {
        display: none;
    }
}
    

.navbar-btns button:hover {
    background-color: rgb(119, 155, 119);
    transform: scale(1.09);
}

.intro-fadebottom {
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111,
    );

}

.intro {
    margin: 0px;
    background-image: url('https://wallpaperaccess.com/full/1077152.jpg');
    height: 800px;
    background-size: cover;

}

.intro-content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 50px;
    padding-top: 200px;
}

.introbtn {
    border-style: none;
    background-color: rgb(79, 102, 79);
    border-radius: 4px;
    color: white;
    margin-right: 20px;
    width: 10rem;
    height: 3rem;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s;
}

.introbtn:hover {
    background-color: rgb(56, 53, 53);
    transform: scale(1.07);
}